<!-- /section:settings.box -->
<div class="page-header">
    <h1>
        首页
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            仪表盘
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12 col-sm-6 widget-container-col">
        <!-- #section:custom/widget-box -->
        <div class="widget-box">
            <div class="widget-header">
                <h5 class="widget-title">优惠券情况</h5>
                <!-- #section:custom/widget-box.toolbar -->
                <div class="widget-toolbar">

                    <a href="#" data-action="fullscreen" class="orange2">
                        <i class="ace-icon fa fa-expand"></i>
                    </a>
                    <a href="#" data-action="collapse">
                        <i class="ace-icon fa fa-chevron-up"></i>
                    </a>

                    <a href="#" data-action="close">
                        <i class="ace-icon fa fa-times"></i>
                    </a>
                </div>

                <!-- /section:custom/widget-box.toolbar -->
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div id="container">

                    </div>
                </div>
            </div>
        <!-- /section:custom/widget-box -->
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 widget-container-col">
        <!-- #section:custom/widget-box -->
        <div class="widget-box">
            <div class="widget-header">
                <h5 class="widget-title">会员分布情况图</h5>
                <!-- #section:custom/widget-box.toolbar -->
                <div class="widget-toolbar">

                    <a href="#" data-action="fullscreen" class="orange2">
                        <i class="ace-icon fa fa-expand"></i>
                    </a>
                    <a href="#" data-action="collapse">
                        <i class="ace-icon fa fa-chevron-up"></i>
                    </a>

                    <a href="#" data-action="close">
                        <i class="ace-icon fa fa-times"></i>
                    </a>
                </div>

                <!-- /section:custom/widget-box.toolbar -->
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div id="map_canvas">

                    </div>
                </div>
            </div>
            <!-- /section:custom/widget-box -->
        </div>
</div><!-- /.row -->
<script>
    $(function () {
        (function(){
            var map = new qq.maps.Map("map_canvas");
            var locations = [];
            <%locations.forEach(function(l){%>
            locations.push(<%-JSON.stringify(l)%>);
            <%})%>
            for(var i in locations){
                var point = new qq.maps.LatLng(locations[i].location.lat,locations[i].location.lon);
                var marker = new qq.maps.Marker({
                    position: point,
                    map: map
                });
                marker.setTitle(locations[i].loginName);
                map.setCenter(point);
                map.zoomTo(15);
            }
        })()



        $('#container').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            credits:{
                enabled:false
            },
            title: {
                text: ''
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: '优惠券领用情况',
                data: [
                    ["未领取",<%=data[0].data%>],
                    ["已领取",<%=data[1].data%>],
                    ["已使用",<%=data[2].data%>],
                ]
            }]
        });
    });
</script>